.vs
EpAccounting.Business/bin
EpAccounting.Business/obj
EpAccounting.Data/bin
EpAccounting.Data/obj
EpAccounting.Model/bin
EpAccounting.Model/obj
EpAccounting.Test/bin
EpAccounting.Test/obj
EpAccounting.UI/bin
EpAccounting.UI/obj
EpAccounting.sln.DotSettings
EpAccounting.sln.DotSettings.user
